<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Liste des fournisseurs</title>
  <link rel="stylesheet" th:href="@{/css/liste.css}">
</head>
<body>

  <div class="main">

    <div class="content">
      <table border="1">
        <thead>
          <tr>
            <th>Nom du fournisseur</th>
            <th>Statut</th>
            <th>Groupe de fournisseur</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="fournisseur : ${fournisseurs}">
            <td>
              <b><a th:href="@{/fournisseur/{name}/details(name=${fournisseur.name})}" 
                    th:text="${fournisseur.supplierName}">Nom du fournisseur</a></b>
            </td>
            <td>
              <span class="status"
                    th:classappend="${fournisseur.status == 'Actif' ? 'active' : 
                                     (fournisseur.status == 'Inactif' ? 'inactive' : 
                                      (fournisseur.status == 'En Attente' ? 'pending' : ''))}"
                    th:text="${fournisseur.status}">Statut</span>
            </td>
            <td th:text="${fournisseur.supplierGroup}">Groupe de fournisseur</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</body>
</html>
